<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.zippy.chat.mapper.ChatMapper">


	<select id="findAllRoom" parameterType="String"
		resultType="ChatRoomVO">
		SELECT *
		FROM chat_room
		WHERE user1 = #{email} OR user2 = #{email}
	</select>


	<select id="findAllRoomName" resultType="ChatRoomName">
		<if test="room.chatType == 1">
			SELECT c.*, (SELECT user_name FROM general_user WHERE email = #{room.user1}) user1_name,
				    (SELECT user_name FROM general_user WHERE email = #{room.user2}) user2_name,
				    (SELECT profile_image FROM general_user WHERE email = #{room.user2}) user1_pic,
				    (SELECT profile_image FROM general_user WHERE email = #{room.user2}) user2_pic
			FROM chat_room c
			WHERE c.chat_room_no = #{room.chatRoomNo}			
		</if>

		<if test="room.chatType != 1">
			SELECT c.*, (SELECT user_name FROM general_user WHERE email = #{room.user1}) user1_name,
				    (SELECT comp_name FROM business WHERE email = #{room.user2}) user2_name,
				    (SELECT profile_image FROM general_user WHERE email = #{room.user1}) user1_pic,
				    (SELECT profile_pic FROM business WHERE email = #{room.user2}) user2_pic
			FROM chat_room c
            		WHERE c.chat_room_no = #{room.chatRoomNo}		
		</if>
	</select>
	
	
	<insert id="createChatRoom" parameterType="ChatRoomVO">
		<selectKey resultType="Integer" keyProperty="chatRoomNo" order="BEFORE">
			SELECT NVL(MAX(chat_room_no), 0)+1
			FROM chat_room					
		</selectKey>
		INSERT INTO chat_room
		VALUES(#{chatRoomNo}, #{user1}, #{user2}, #{chatType}, #{lastChat}, #{lastTime})		
	</insert>

	<select id="getRoomInfo"  parameterType="Integer" resultType="ChatRoomVO">
		SELECT *
		FROM chat_room
		WHERE room_id = #{roomId}
	</select>

</mapper>