<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.zippy.common.mapper.CommonMapper">
	<!-- 찜 추가 -->
	<insert id="addWish" parameterType="BookmarkVO">
		<selectKey keyProperty="bookmarkNo" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(bookmark_no),0) +1 AS bookmarkNo
			FROM bookmark
		</selectKey>
		INSERT INTO bookmark
		(
			bookmark_no,
			email,
			service_type,
			service_id
		)
		VALUES
		(
			#{bookmarkNo}
			,#{email}
			,#{serviceType}
			,#{serviceId}
		)
	</insert>
	
	<!-- 찜 삭제 -->
	<delete id="delWish" parameterType="int">
		DELETE 
		FROM bookmark
		WHERE bookmark_no = #{bNo}
	</delete>
	
	<!-- 해당 상품 찜 유무 -->
	<select id="getWishOne" resultType="BookmarkVO" parameterType="hashmap">
		SELECT * 
		FROM bookmark
		WHERE service_id = #{sId}
		AND email = #{email}
		AND service_type = #{serviceType}
	</select>
	
	<insert id="addReport" parameterType="ReportVO">
		<selectKey keyProperty="reportNo" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(report_no),0) +1 FROM service_report
		</selectKey>
		insert into service_report
		values(
		#{reportNo},
		#{email},
		#{reportType},
		#{reportContents},
		sysdate,
		#{serviceType},
		#{serviceId},
		0
		)
	</insert>

	<!-- 찜 목록 -->
	<select id="getWishAll" resultType="BookmarkVO" parameterType="hashmap">
		SELECT p.product_no,
			   p.product_name,
			   p.product_price,
			   p.product_location,
			   p.is_sell,
			   p.product_date,
			   b.bookmark_no, 
			   b.email,
			   b.service_type,
			   b.service_id
		FROM used_product p, bookmark b
		WHERE p.product_no = b.service_id
		AND b.email = #{email}
		AND b.service_type = #{serviceType}
	</select>
	
	<!-- 후기 작성 -->
	<insert id="addReview" parameterType="ReviewBoardVO">
		<selectKey keyProperty="reviewNo" order="BEFORE" resultType="int">
			SELECT NVL(MAX(review_no),0) +1 AS reviewNo
			FROM review_board
		</selectKey>
		INSERT INTO review_board
		(
			REVIEW_NO,
			EMAIL,
			REVIEW_TITLE,
			REVIEW_CONTENT,
			REVIEW_DATE,
			SERVICE_TYPE,
			SERVICE_ID,
			VIEW_CNT,
			TOTAL_RATING,
			RATE_1,
			RATE_2,
			RATE_3,
			RATE_4,
			DELETE_STATE
		)
		VALUES
		(
			#{reviewNo}
			,#{email}
			,#{reviewTitle}
			,#{reviewContent}
			,systimestamp
			,#{serviceType}
			,#{serviceId}
			,#{viewCnt}
			,#{totalRating}
			,#{rate1}
			,#{rate2}
			,#{rate3}
			,#{rate4}
			,#{deleteState}
		)
	</insert>
	
	<select id="showReview" resultType="reviewBoardVO">
		SELECT *
		FROM review_board
		WHERE email =#{email}
	</select>
	
	<!-- 해당 상품 후기 유무 -->
	<select id="getRvAll" resultType="reviewBoardVO">
		SELECT * 
		FROM review_board
		WHERE service_id = #{serviceId}
		AND email = #{email}
		AND service_type = #{serviceType}
	</select>
</mapper>