/* nav */
/* dropdown */
.dropdown-menu a:hover{
background-color: #B3E3C3;
} 
#navbarDropdown {
color:#212529;
}
.navbar {
border:1px solid #212529;
}
svg {
  width:30px;
  height:30px;
}
.d-flex button{
  color: black;
  border:1px solid black;
}
.btn-outline-success a:hover {
    color:white;
    background-color: #B3E3C3;
}
/* search */
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  }
/********************************/
/* slide */
#slide img{
  height:400px;
}
/********************************/
/* section */
section {
  width:60%;
  margin: 0 auto;
}
/********************************/
/* category */
#main-category {
  padding-top: 70px;
  margin: 0;
}