<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.zippy.used.mapper.UsedMapper">
	<!-- 전체조회 -->
	<select id="usedList" resultType="UsedProductVO"
		parameterType="hashmap">
		SELECT p.*, 
		       g.NICK_NAME,
		       g.PROFILE_IMAGE
		  FROM used_product p, general_user g
		 WHERE g.email = p.email
		<if test='keyword != null and keyword != ""'>
		   AND p.product_name LIKE '%'||#{keyword}||'%'
		</if>
		   AND p.product_location = #{location}
		<if test='category != ""'>
		   AND	p.product_category LIKE '%'||#{category}||'%'
		</if>
		<if test="checked == 1">
		   AND ( p.is_sell=0 OR p.is_sell=1 )
		</if>
		<if test="checked == 0">
		   AND p.is_sell=0
		</if>
	</select>
	
	<select id="userMain" resultType="UsedProductVO"
		parameterType="String">
			SELECT p.*, 
		       g.NICK_NAME,
		       g.PROFILE_IMAGE
		  FROM used_product p, general_user g
		 WHERE g.email = p.email
		 AND g.email = #{email}
		</select>

	<select id="usedOne" resultType="UsedProductVO"
		parameterType="Integer">
		SELECT p.*,
		       g.NICK_NAME
		  FROM used_product p, general_user g
		 WHERE g.email = p.email
		   AND p.product_no=#{pNo}
	</select>


	<!-- 등록 -->
	<insert id="insertUsed" parameterType="usedProductVO">
		<selectKey keyProperty="productNo" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(product_no),0) +1 AS productNo
			FROM
			used_product
		</selectKey>
		INSERT INTO used_product
		(
			product_no,
			email,
			PRODUCT_NAME,
			PRODUCT_CATEGORY,
			PRODUCT_PRICE,
			PRODUCT_INFO,
			product_location,
			is_sell,
			views,
			product_date,
			main_img
		)
		VALUES
		(
			#{productNo}
			,#{email}
			,#{productName}
			,#{productCategory}
			,#{productPrice}
			,#{productInfo}
			,#{productLocation}
			,0
			,0
			,systimestamp
			,#{mainImg}
		)
	</insert>

	<insert id="insertImg" parameterType="UsedImagesVO">
		<selectKey keyProperty="imageNo" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(image_no),0) +1 AS imageNo
			FROM used_images
		</selectKey>
		INSERT INTO used_images
		(
		image_no,
		product_no,
		image
		)
		VALUES
		(
		#{imageNo}
		,#{productNo}
		,#{image}
		)
	</insert>

	<!-- 수정 -->
	<update id="updateUsed" parameterType="usedProductVO">
		UPDATE used_product
		SET
		product_name = #{productName},
		product_category = #{productCategory},
		product_price = #{productPrice},
		product_info = #{productInfo},
		is_sell	= #{isSell}
		WHERE
		product_no = #{productNo}
	</update>
	
	<!-- 사진 삭제 -->
	<delete id="deleteImg" parameterType="UsedProductVO">
		DELETE 
		FROM used_images
		WHERE product_no = #{productNo}
	</delete>

	<!-- 사진 수정 -->
	<insert id="updateImg" parameterType="usedImagesVO">
		<selectKey keyProperty="imageNo" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(image_no),0) +1 AS imageNo
			FROM used_images
		</selectKey>
		INSERT INTO used_images
		(
		image_no,
		product_no,
		image
		)
		VALUES
		(
		#{imageNo}
		,#{productNo}
		,#{image}
		)
	</insert>

	<!-- 삭제 -->
	<delete id="deleteUsed" parameterType="int">
		DELETE FROM used_product
		WHERE product_no = #{pNo}
	</delete>

	<!-- 조회수 증가 -->
	<update id="viewCnt" parameterType="UsedProductVO">
		UPDATE used_product
		SET views
		= NVL(views,0) +1
		WHERE product_no = ${pNo}
	</update>

	<!-- 키워드 추가 -->
	<insert id="addKeyword" parameterType="UsedKeywordVO">
		<selectKey keyProperty="keywordNo" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(keyword_no),0) +1 AS keywordNo
			FROM
			used_keyword
		</selectKey>
		INSERT INTO used_keyword
		(
		keyword_no,
		email,
		keyword,
		keyword_location
		)
		VALUES
		(
		#{keywordNo}
		,#{email}
		,#{keyword}
		,#{keywordLocation}
		)
	</insert>

	<!-- 키워드 삭제 -->
	<delete id="delKeyword" parameterType="Integer">
		DELETE FROM used_keyword
		WHERE keyword_no = #{kNo}
	</delete>

	<!-- 키워드 출력 -->
	<select id="showKeyword" resultType="UsedKeywordVO"
		parameterType="String">
		SELECT *
		FROM Used_keyword
		WHERE email = #{email}
	</select>
	
	<!-- 키워드 조회 -->
	<select id="findKeyword" resultType="UsedKeywordVO" parameterType="UsedProductVO">
		SELECT * 
		FROM used_keyword
		WHERE keyword  LIKE '%'||#{productName}||'%'
		AND keyword_location LIKE '%'||#{productLocation}||'%'
	</select>
	

	<!-- 상품 이미지 조회 -->
	<select id="getImg" resultType="UsedImagesVO"
		parameterType="int">
		SELECT *
		FROM used_images
		WHERE product_no = #{pNo}
	</select>
	
	<update id="dealRecord" parameterType="UsedProductVO">
		UPDATE used_product
		SET 
		deal_record = #{dealRecord}
		WHERE product_no = #{productNo}
	</update>

</mapper>