<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.zippy.used.mapper.UsedMapper">
	<!-- 전체조회 -->
	<select id="usedList" resultType="UsedProductVO"
		parameterType="hashmap">
		SELECT *
		FROM used_product
		WHERE product_location LIKE
		'%'||#{location}||'%'
		AND product_name LIKE '%'||#{keyword}||'%'
		AND
		product_category LIKE '%'||#{category}||'%'
		<if test="checked == 1">
			AND is_sell=0
			OR is_sell=1
		</if>
		<if test="checked == 0">
			AND is_sell=0
		</if>
		<!-- 최저가순 -->
		<if test="dropbox == 0">
			ORDER BY product_price ASC
		</if>
		<!-- 최고가순 -->
		<if test="dropbox == 1">
			ORDER BY product_price DESC
		</if>
		<!-- 최신등록일자순 -->
		<if test="dropbox == 2">
			ORDER BY product_date DESC
		</if>
		<!-- 오래된등록일자순 -->
		<if test="dropbox == 3">
			ORDER BY product_date ASC
		</if>



		<!-- <if test="dropVal == 판매자평점"> ORDER BY product_date DESC </if> -->
		<!-- ORDER BY product_date DESC -->
	</select>
	<select id="usedOne" resultType="UsedProductVO"
		parameterType="Integer">
		SELECT *
		FROM used_product
		WHERE product_no = ${pNo}
	</select>


	<!-- 등록 -->
	<insert id="insertUsed" parameterType="usedProductVO">
		<selectKey keyProperty="productNo" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(product_no),0) +1 AS productNo
			FROM
			used_product
		</selectKey>
		INSERT INTO used_product
		(
		product_no,
		email,
		PRODUCT_NAME,
		PRODUCT_CATEGORY,
		PRODUCT_PRICE,
		PRODUCT_INFO,
		product_location,
		is_sell,
		views,
		product_date
		)
		VALUES
		(
		#{productNo}
		,#{email}
		,#{productName}
		,#{productCategory}
		,#{productPrice}
		,#{productInfo}
		,#{productLocation}
		,0
		,0
		,systimestamp
		)
	</insert>

	<insert id="insertImg" parameterType="UsedImagesVO">
		<selectKey keyProperty="imagesNo" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(image_no),0) +1 AS imageNo
			FROM used_images
		</selectKey>
		INSERT INTO used_images
		(
		image_no,
		product_no,
		image
		)
		VALUES
		(
		#{imageNo}
		,#{productNo}
		,#{image}
		)
	</insert>

	<!-- 찜 추가 -->
	<insert id="addWish" parameterType="BookmarkVO">
		<selectKey keyProperty="bookmarkNo" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(bookmark_no),0) +1 AS bookmarkNo
			FROM
			bookmark
		</selectKey>
		INSERT INTO bookmark
		(
		bookmarkNo,
		user_email,
		service_type,
		service_id
		)
		VALUES
		(
		bookmarkNo
		,#{email}
		,1
		,#{productNo}
		)
	</insert>
	<!-- 수정 -->
	<update id="updateUsed" parameterType="usedProductVO">
		UPDATE used_product
		SET
		product_name = #{productName},
		product_category = #{productCategory},
		product_price = #{productPrice},
		product_info = #{productInfo}
		WHERE
		product_no = #{productNo}
	</update>

	<!-- 사진 수정 -->
	<update id="updateImg" parameterType="usedImagesVO">
		UPDATE used_images
		SET
		image
		= #{image}
		WHERE product_no = #{productNo}
	</update>

	<!-- 삭제 -->
	<delete id="deleteUsed" parameterType="UsedProductVO">
		DELETE FROM used_product
		WHERE product_no = #{pNo}
	</delete>

	<!-- 조회수 증가 -->
	<update id="viewCnt" parameterType="UsedProductVO">
		UPDATE used_product
		SET views
		= NVL(views,0) +1
		WHERE product_no = ${pNo}
	</update>

	<!-- 키워드 추가 -->
	<insert id="addKeyword" parameterType="UsedKeywordVO">
		<selectKey keyProperty="keywordNo" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(keyword_no),0) +1 AS keywordNo
			FROM
			used_keyword
		</selectKey>
		INSERT INTO used_keyword
		(
		keyword_no,
		email,
		keyword,
		keyword_location
		)
		VALUES
		(
		#{keywordNo}
		,#{email}
		,#{keyword}
		,#{keywordLocation}
		)
	</insert>
	
	<!-- 키워드 삭제 -->
	<delete id="delKeyword" parameterType="UsedKeywordVO">
		DELETE FROM used_keyword
		WHERE keyword_no = #{kNo}
	</delete>
	
	<select id="showKeyword" resultType="UsedKeywordVO" parameterType="String">
		SELECT *
		FROM Used_keyword
		WHERE email = #{email}
	</select>

</mapper>