<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.zippy.move.mapper.MoveMapper">

	<insert id="moveUntactCheck" parameterType="MoveRequestVO">
		<selectKey keyProperty="estimateNo" order="BEFORE" resultType="int">
			SELECT NVL(MAX(estimate_no),0) +1 AS estimateNo 
			FROM UNTACT_ESTIMATE_MOVING
		</selectKey>
		INSERT INTO UNTACT_ESTIMATE_MOVING
		(
		ESTIMATE_NO,
		EMAIL,
		MOVING_OPTION,
		MOVING_MEMO,
		DEPART_ADDRESS,
		ARRIVE_ADDRESS,
		MOVING_DATE,
		MOVING_TIME,
		VISIT_TYPE,
		DEPART_ZIP_CODE,
		DEPART_DETAIL,
		DEPART_EXTRA,
		ARRIVE_ZIP_CODE,
		ARRIVE_DETAIL,
		ARRIVE_EXTRA,
		MOVE_TYPE,
		REQUEST_DATE,
		VISIT_DATE,
		VISIT_TIME,
		COMMON_OPTION
		)
		VALUES
		(
		#{estimateNo},
		#{email},
		#{movingOption},
		#{movingMemo},
		#{departAddress},
		#{arriveAddress},
		#{movingDate},
		#{movingTime},
		#{visitType}
		#{departZipCode},
		#{departDetail},
		#{departExtra},
		#{arriveZipCode},
		#{arriveDetail},
		#{arriveExtra},
		#{moveType},
		#{requestDate},
		#{visitDate},
		#{visitTime},
		#{commonOption}
		)
	</insert>
	
	<insert id="moveUntactImg" parameterType="MoveRequestVO">
		<selectKey keyProperty="houseImgNo" order="BEFORE" resultType="int">
			SELECT NVL(MAX(house_img_no),0) +1 AS houseImgNo 
			FROM UNTACT_HOUSE_IMAGE
		</selectKey>
		
		INSERT INTO UNTACT_HOUSE_IMAGE
		(
		HOUSE_IMG_NO,
		ESTIMATE_NO,
		HOUSE_IMG,
		IMG_TYPE
		)
		VALUES
		(
		#{houseImgNo},
		#{estimateNo},
  		#{houseImg},
  		#{imgType}
		)
	</insert>
</mapper>