@charset "UTF-8";
.dropdown-menu a:hover{
	background-color: #B3E3C3;
} 
#navbarDropdown {
	color:#212529;
}
.navbar {
	border:1px solid #212529;
}
header{
	margin-bottom: 0px;
	padding-bottom: 0px;
	background-color: #B3E3C3;
	color: white;      
}

.header-icon {
	margin-right: 30px;
	color : black;
}

nav {
	background-color: white;
}