/* 버튼 */
.btn-primary {
  color: #212529 ;
  border-color: #212529 ;
  background-color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #B3E3C3 ;
  border:1px solid #B3E3C3 ;
}
/* nav */
.navbar {
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.10);
}
/* 드롭다운 */
.dropdown-menu a:hover{
  background-color: #fff;
  } 
#navbarDropdown {
color:#212529;
}
#navbarSupportedContent a:hover{
  color:#B3E3C3;
}
/* 검색창 */
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  }