<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.zippy.member.mapper.MemberMapper">
	
	<select id="getAllMember" resultType="LoginVO">
	 	SELECT *
	 	FROM login	 	
	</select>
	
	
	<!-- 회원가입에 사용되는 SQL -->
	<select id="emailRedundacyCheck" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM login
		WHERE email = #{email}
	</select>
	
	<insert id="insertLoginInfo" parameterType="LoginVO">
		INSERT INTO login
		VALUES(#{email}, #{password}, #{isSocial}, #{token}, #{memberType}, systimestamp)
	</insert>
	
	<insert id="insertGeneralMember" parameterType="GeneralUserVO">
		INSERT INTO general_user
		VALUES(#{email}, #{userName}, #{nickName}, #{phoneNumber}, #{userBirth}, #{userGender}, #{userAddress},
		       #{zipCode}, #{profileImage}, #{userState}, #{addressDetail})
	</insert>
	
	<insert id="insertBusinessMember" parameterType="BusinessVO">
		INSERT INTO business
		VALUES(#{email}, #{compName}, #{compIntro}, #{ceoName}, #{businessId}, #{compAddress},
		       #{profilePic}, #{phone}, #{brokerId}, #{businessImg}, #{brokerImg}, 
		       #{memberType}, #{impUid}, #{zipCode}, #{businessState}, #{addressDetail}
		)
	 </insert>
	
	
	
	<!-- 여기서 부터 로그인에 관련된 SQL -->
	<select id="getLoginInfo" parameterType="String" resultType="LoginVO">
		SELECT *
		FROM login
		WHERE email = #{email}
	</select>	
	
	<select id="getGeneralUser" parameterType="String" resultType="GeneralUserVO">
		SELECT *
		FROM general_user
		WHERE email = #{email}
	</select>
	
	<select id="getBusinessUser" parameterType="String" resultType="BusinessVO">
		SELECT *
		FROM business
		WHERE email = #{email}
	</select>
	
	
	
	<update id="changePassword" parameterType="LoginVO">
		UPDATE login
		SET password = #{password}
		WHERE email = #{email}
	</update>
	
	
	<select id="findGeneralEmail" resultType="String">
		SELECT email
		FROM general_user
		WHERE user_name = #{userName}
		AND phone_number = #{phoneNumber}
	</select>
	
	<select id="findBusinessEmail" resultType="String">
		SELECT email
		FROM business
		WHERE ceo_name = #{userName}
		AND phone = #{phoneNumber}
	</select>
	
</mapper>